In [1]:
import pandas as pd

In [4]:
data = []

columns = ['user_address', 'user_name', 'wager_amount', 'bet_selection']
df =  pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [user_address, user_name, wager_amount, bet_selection]
Index: []

In [6]:
address = '1xasd1234101'
username = 'ballbailey'
bet_amount = 20
bet_team = 'Team B'

data.append([address, username, bet_amount, bet_team])
pd.DataFrame(data, columns=columns)

   user_address   user_name  wager_amount bet_selection
0  1xasd1234101        ball            20        Team B
1  1xasd1234101  ballbailey            20        Team B

In [ ]:
data = []
data.append(['901', 'balllisaann', 1, 'Team B'])
df = pd.DataFrame(data, columns=columns)
df

In [ ]:
data.append(['902', 'balllisaann2', 2, 'Team c'])
pd.DataFrame(data, columns=columns)

In [ ]:
new_row = {'address': '902', 'username': 'balllisaann2', 'bet_amount': 2, 'bet_placed': 'Team a'}
df.append(new_row, ignore_index=True)
df